{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h3>Bienvenue sur le dashboard utilisateur</h3>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}
